@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Gaegu');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

html,body{
 
  font-family: 'Poppins',sans-serif;
  color: rgb(255, 255, 255);
  background-color:#222;

 /* overflow-x:hidden;*/
  }
  .carousel-control-prev{
    margin-top:320px;
    height:100px;

  }
  .carousel-control-next{
    height:100px;
    margin-top:320px;
    
  }
 .carousel-inner{
   height:580px;
 }

.navbar{
  padding: .8rem;
}
.container-fluid{

}
.sticky-top{
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
}

.logoh{
  font-family: 'Dancing Script', cursive;
}


.navbar-nav li{
  padding-right: 20px;
}
.nav-link {
  font-size:1.1em !important;
}

.carousel-inner img{
  width:100%;
  height:100%;
  
}
.carousel-caption{
  position:absolute;
    top:40%;
  
  transform:translateY(-50%);
}
.carousel-caption h1{
  font-size:500%;
  /*font-family:'Gaegu', cursive;*/
  /* font-family: 'Fjalla One', sans-serif; */
  
  text-transform: uppercase;
  text-shadow: 1px 1px 15px black;
}
.carousel-caption h3{
  font-size:200%;
  font-weight:500%;
  text-shadow:1px 1px 10px black;
  padding-bottom:1rem;
}

.btn-primary{
  background-color:white;
  border: 1px solid grey;
  color:black;
}
.btn-outline-dark:hover{
background-color:white;
color:black;
}
.btn-primary:hover {
  background-color:black;
  border: 1px solid grey;
  color:white;
}
.top-image-services{
  /* background-image: url("fixme/services.jpg"); */
 width:100%;
  height: 400px;
  background-repeat: no-repeat;
 background-origin:border-box;

}
.top-image-contact{
  /* background-image: url("fixme/callme.jpg"); */
 width:100%;
  height: 400px;
  background-repeat: no-repeat;
 background-origin:border-box;

}
.review-carousel{
  margin-top:50px;
  height: 200px;
  background-color:rgb(155, 202, 255);
  color:black !important;
}
.top-image-aboutus{
  /* background-image: url("fixme/buidling3.jpg"); */
 width:100%;
  height: 400px;
  background-repeat: no-repeat;
 background-origin:border-box;

}
.jumbotron{
  
  padding:1rem;
  margin:18px;
  background-color:rgb(0, 183, 255);

}
.btn-outline-secondary {
  color:rgb(47, 161, 233);
  border-color:rgb(47, 161, 233);;
}
.btn-outline-secondary:hover {
  color:white;
  border-color:rgb(47, 161, 233);;
  background-color:rgb(47, 161, 233);
}
.padding{
  padding-bottom:2rem;
  padding-left:25px;
  padding-right:25px;
  }
.welcome{
  width:75%;
  margin:0 auto;
padding-top:2rem;
}
.welcome hr{
  border-top:2px solid #b4b4b4;
  width:95%;
  margin-top:.3rem;
  margin-bottom:1rem;
  }
.fa-code{
  
  color:#e54d26;
  
  }
.fa-bold{
  color:#563d7c;
  }
.fa-css3{
  color:#2163af;
}
.fa-code, .fa-bold ,.fa-css3{
  font-size:4rem;
   margin:1rem;
}
.fun{
  width:100%;
  margin-bottom:2rem;
  }
.gif{
  max-width:100%;
}

.social-contact a{
  font-size:2rem;
  padding:2.5rem;
  }
.social a{
  font-size:4rem;
  padding:2.5rem;
  }
.fa-facebook{
  color:#3b599c;
}
.fa-twitter{
  color:#00aced;
  }
.fa-google-plus-g{
  color:#dd4b39;
  }
.fa-instagram{
  color:#517fa4;
  }
.fa-youtube{
  color:#bb0000;

}
.img-fluid{
  width:95%;
  height:100%;
}
.img-brands{
  height:80px;
  padding-left:20px;
  padding-right:20px;
}
footer{
  background-color:#3f3f3f;
  color:#d5d5d5;
  padding-top:2rem;
 }
 hr.light{
   border-top:1px solid #d5d5d5d5;
   width:75%;
   margin-top: .8rem;
   margin-bottom:1rem;
 }
 footer a{
   color:#d5d5d5;
 }
 hr.light-100 {
  border-top:1px solid #d5d5d5d5;
  width:100%;
  margin-top: .8rem;
  margin-bottom:1rem;

 }
 .imaageleft1{
  border-top-right-radius: 10px;
  border-bottom-right-radius:10px;
 }
 .first-half1{
   background-color:rgb(46, 0, 105);
   border-style:solid;
   border-top-left-radius: 50%;
   border-bottom-left-radius: 50%;
   color:white;
 }
 .first-half2{
  background-color:rgb(149, 255, 215);
  border-style:solid;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  color:white;
}
.first-half3{
  background-color:rgb(176, 230, 255);
  border-style:solid;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  color:white;
}

.first-half4{
  background-color:rgb(240, 181, 255);
  border-style:solid;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  color:white;
}
.first-half5{
 background-color:rgb(212, 212, 212);
 border-style:solid;
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius:10px;
 border-top-right-radius:10px;
 color:white;
}

.first-half6{
  background-color:rgba(0, 3, 39, 0.308);
  border-style:solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius:10px;
  border-top-right-radius:10px;
  color:white;
}
 .display-none{
   display:none;
 }
 .bgcolor1{
   background-color:#222
 }
 .bgcolor2{
   background-color:rgba(0, 0, 0, 0.795);
 }
 .card:hover{
   box-shadow:1px 1px 5px black;
 }
/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
 
}
@media only screen and (max-device-width:768px) and (min-device-width:426px){
  .drpic{
    height:450px !important;
  }
}
@media only screen and (max-device-width:426px) and (min-device-width:319px)
{
  .carousel-caption{
    top:30%;
    position: absolute;
    transform: translateY(-50%);
  }
 
  h1{
    font-size:38px !important;
  }
  .carousel-caption h3 {
    font-size:18px;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 80%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('doctor/teamdoctors.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








